<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel = "stylesheet" type = "text/css" href="{% static 'show_info.css' %}"/>
</head>
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light justify-content-between">
      <a class="navbar-brand" href="{% url 'home' %}">Главная страница</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <form class="d-flex">
          <a href="{% url 'logout_user' %}" class="btn btn-danger" type="submit">Выйти</a>
        </form>
      </div>
    </nav>
</header>
<body>
{% block content %}
{% endblock %}
</body>
</html>