<!DOCTYPE html>
<html>
    <head>
        <title>Login/Registration</title>
        {% load static %}
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main">
            <input type="checkbox" id="chk" aria-hidden="true">

                <div class="signup">
                    <form method="post">
                        {% csrf_token %}
                        <label for="chk" aria-hidden="true">Регистрация</label>
                        <input type="text" id = "input_username" name="create_username" placeholder="Имя пользователя" required="">
                        <input type="email" name="create_email" placeholder="Email" required="">
                        <input type="password" name="create_password" placeholder="Пароль" required="">
                        <button id="register_button">Зарегистрироваться</button>
                    </form>
                </div>

                <div class="login">
                    <form method="post">
                        {% csrf_token %}
                        <label for="chk" aria-hidden="true">Авторизация</label>
                        <input type="email" name="email" placeholder="Email" required="">
                        <input type="password" name="password" placeholder="Пароль" required="">
                        <button>Войти</button>
                    </form>
                </div>
        </div>
    {% block javascript %}
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#input_username').keyup(function () {
                    $.ajax({
                        data: $(this).serialize(),
                        url: "{% url 'validate_username' %}",
                        success:
                            function (response) {
                            if (!$('#usernameError').length)
                                $('#input_username').after('<div class="invalid-feedback d-block" ' +
                                    'id = "usernameError"></div>');
                            if (response.taken == true) {
                                $('#input_username').removeClass('is-valid').addClass('is-invalid');
                                $('#usernameError').removeClass('valid-feedback').addClass('invalid-feedback').text("Имя пользователя уже занято");
                                $('#register_button').prop('disabled', true);
                            } else {
                                $('#input_username').removeClass('is-invalid').addClass('is-valid');
                                $('#usernameError').removeClass('invalid-feedback').addClass('valid-feedback').text("Имя пользователя не занято");
                                $('#register_button').prop('disabled', false);
                            }
                            },
                        error: function (response) {
                            console.log(response.responseJSON.errors);
                        }
                    });
                    return false;
                });
            });
        </script>
    {% endblock javascript %}
    </body>
</html>